<div class="container m-auto">
  <div class="wrap">
    <div class="col-span-1 leading-9">
      <ng-container>
        <div class="logo cursor-pointer">
          <img
            style="width: 160px; border-radius: 25px"
            class="mb-7"
            src="/assets/images/logo/HNT_Sport_Logo.png"
            alt=""
            srcset=""
          />
        </div>
        <p
          class="title font-medium hover:text-teal-700 hover:underline cursor-pointer"
        ></p>
      </ng-container>
    </div>
    <div class="col-span-1 leading-9">
      <ng-container>
        <h2 class="font-bold text-sm font-30 mb-7"></h2>
        <p
          class="title font-medium hover:text-teal-700 hover:underline cursor-pointer"
        ></p>
      </ng-container>
    </div>
  </div>
  <div class="info py-3">
    <div class="text-center">
      <span class="title">
        2th Floor, PLS building, 105-107 Co Giang, Co Giang ward, District 1, Ho
        Chi Minh city, Vietnam© 2022-2023 HNTSPORT · Viet Nam, VN</span
      >
    </div>
  </div>
</div>
