<div class="secMainVisual">
  <video
    id="video"
    width="100%"
    height="500px"
    autoplay="autoplay"
    volume="0"
    muted="muted"
    preload="auto"
    loop=""
    playsinline=""
  >
    <source
      src="https://nurista.canvas-works.jp/assets/video/nurisutaMV_pc.mp4"
      type="video/mp4"
    />
    <div>動画を再生するには、videoタグをサポートしたブラウザが必要です。</div>
  </video>
  <h1 class="topText">
    <div class="video1">
      <div class="video2">
        <span class="textJa">マーケティングとクリエイティブで</span><br />
        <span class="textEn"
          >Maximize corporate value through marketing and creativity.</span
        ><br />
        <br class="visible-xs" />
        <span class="textJa space">企業価値を最大化させる。</span>
      </div>
    </div>
  </h1>

  <div class="topSubText">
    集客に繋がるマーケティングを提案してほしい。<br />
    カッコいいクリエイティブを作ってほしい。<br />
    ありがたいことに、日々このような<br />
    お問い合わせを多くいただきます。<br />
    <br />
    しかし、これらはあくまで手段。<br />
    そこから出来上がる成果物もツールに過ぎません。<br />
    <br />
    モノゴトをマクロとミクロの視点から考察し、<br />
    BtoB企業様の価値を最大化させ<br />
    成長への一手となる支援を実行します。
  </div>
</div>
